html, body {
  height: 100%;
  margin: 0;
  background: #141414;
  color: white;
  user-select: none;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 10px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 7fr 1fr;
}

.youtube-button {
  pointer-events: auto;
}

.item:nth-child(2) {
  align-self: end;
}

#game {
  line-height: 0px;
  pointer-events: auto;
}

#canvas {
  border-radius: 0px 0px 0 0;
  pointer-events: auto;
}

#floor {
  width: 480px;
  background: #A0C8EB;
  border-radius: 0 0 0px 0px;
}

#overlay {
  width: 480px;
  height: 700px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(80px);
}

#playAgainButton {
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  height: 35px;
  font-size: 20px;
}

button {
  border-radius: 10px;
  color: #fafafa;
  background: #39af3d;
  outline: none;
  cursor: pointer;
  border: none;
}

@media (max-aspect-ratio: 100/149) {
  body {
    font-size: xx-large;
  }

  #game {
    height: 100%;
  }

  #canvas, #floor {
    border-radius: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 1fr;
    gap: 30px;
  }

  .item:nth-child(1) {
    order: 2;
    text-align: center;
  }

  .item:nth-child(2) {
    order: 1;
  }

  .empty {
    display: none;
  }
}
